.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20%;
}

.container h1 {
  width: 100%;
}

.container hr {
  width: 100%;
  color: black;
}

#top-box {
  display: flex;
  gap: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
